.all {
  width: 70%;
  margin-left: 15%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 25px 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 350;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sub_container1,
.sub_container2,
.sub_container3,
.sub_container4,
.sub_container5,
.sub_container6 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(41, 41, 41);
  cursor: pointer;
}

.sub_container1 {
  background-image: url(../../../public/ementakids1.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container2 {
  background-image: url(../../../public/ementakids2.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container3 {
  background-image: url(../../../public/ementakids3.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container4 {
  background-image: url(../../../public/ementakids4.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container5 {
  background-image: url(../../../public/ementakids5.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container6 {
  background-image: url(../../../public/ementakids6.jpg);
  background-size: cover;
  background-position: center;
}

.sub_container1 h1,
.sub_container2 h1,
.sub_container3 h1,
.sub_container4 h1,
.sub_container5 h1,
.sub_container6 h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  color: #ffc219;
  display: none;
}

.sub_container1 p,
.sub_container2 p,
.sub_container3 p,
.sub_container4 p,
.sub_container5 p,
.sub_container6 p {
  text-align: justify;
  font-size: 22px;
  color: white;
  display: none;
}

.sub_container1:hover,
.sub_container2:hover,
.sub_container3:hover,
.sub_container4:hover,
.sub_container5:hover,
.sub_container6:hover {
  background-image: url(../../../public/bg-foto.png);
  border: 3px solid #ffc219;
}

.sub_container1:hover p,
.sub_container1:hover h1 {
  display: block;
}

.sub_container2:hover p,
.sub_container2:hover h1 {
  display: block;
}

.sub_container3:hover p,
.sub_container3:hover h1 {
  display: block;
}

.sub_container4:hover p,
.sub_container4:hover h1 {
  display: block;
}

.sub_container5:hover p,
.sub_container5:hover h1 {
  display: block;
}

.sub_container6:hover p,
.sub_container6:hover h1 {
  display: block;
}

.sub_container1:hover,
.sub_container2:hover,
.sub_container3:hover,
.sub_container4:hover,
.sub_container5:hover,
.sub_container6:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.sub_container1 h2,
.sub_container2 h2,
.sub_container3 h2,
.sub_container4 h2,
.sub_container5 h2,
.sub_container6 h2 {
  margin-top: 300px;
  border: solid #ffc219;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 6px;
}

.sub_container1:hover h2,
.sub_container2:hover h2,
.sub_container3:hover h2,
.sub_container4:hover h2,
.sub_container5:hover h2,
.sub_container6:hover h2 {
  display: none;
}

@media (max-width: 1440px) {
  .title {
    font-size: 30px;
  }

  .sub_container1,
  .sub_container2,
  .sub_container3,
  .sub_container4,
  .sub_container5,
  .sub_container6 {
    width: 350px;
    height: 350px;
  }

  .sub_container1 h1,
  .sub_container2 h1,
  .sub_container3 h1,
  .sub_container4 h1,
  .sub_container5 h1,
  .sub_container6 h1 {
    font-size: 30px;
  }

  .sub_container1 p,
  .sub_container2 p,
  .sub_container3 p,
  .sub_container4 p,
  .sub_container5 p,
  .sub_container6 p {
    font-size: 20px;
  }

  .sub_container1 h2,
  .sub_container2 h2,
  .sub_container3 h2,
  .sub_container4 h2,
  .sub_container5 h2,
  .sub_container6 h2 {
    border-width: 0 6px 6px 0;
    padding: 16px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 28px;
  }

  .sub_container1,
  .sub_container2,
  .sub_container3,
  .sub_container4,
  .sub_container5,
  .sub_container6 {
    width: 300px;
    height: 300px;
  }

  .sub_container1 h1,
  .sub_container2 h1,
  .sub_container3 h1,
  .sub_container4 h1,
  .sub_container5 h1,
  .sub_container6 h1 {
    font-size: 26px;
  }

  .sub_container1 p,
  .sub_container2 p,
  .sub_container3 p,
  .sub_container4 p,
  .sub_container5 p,
  .sub_container6 p {
    font-size: 18px;
  }

  .sub_container1 h2,
  .sub_container2 h2,
  .sub_container3 h2,
  .sub_container4 h2,
  .sub_container5 h2,
  .sub_container6 h2 {
    margin-top: 240px;
    border-width: 0 6px 6px 0;
    padding: 14px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 22px;
  }

  .sub_container1,
  .sub_container2,
  .sub_container3,
  .sub_container4,
  .sub_container5,
  .sub_container6 {
    width: 250px;
    height: 250px;
  }

  .sub_container1 h1,
  .sub_container2 h1,
  .sub_container3 h1,
  .sub_container4 h1,
  .sub_container5 h1,
  .sub_container6 h1 {
    font-size: 16px;
  }

  .sub_container1 p,
  .sub_container2 p,
  .sub_container3 p,
  .sub_container4 p,
  .sub_container5 p,
  .sub_container6 p {
    font-size: 16px;
  }

  .sub_container1 h2,
.sub_container2 h2,
.sub_container3 h2,
.sub_container4 h2,
.sub_container5 h2,
.sub_container6 h2{
  margin-top: 200px;
  border-width: 0 6px 6px 0;
  padding: 14px;
}
}