.all {
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  padding-bottom: 100px;
  border-bottom: #bebebe 2px solid;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  color: #bebebe;
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: 450;
}

.main h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.title_decor {
  width: 650px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 450;
  line-height: 30px;
}

.description {
  width: 700px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.embla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 5%;
  height: 400px;
  padding: 50px;
  overflow: hidden;
  cursor: pointer;
}

.embla__container {
  display: flex;
  width: 100vw;
}

.embla__slide {
  width: 100vw;
  display: flex;
  flex: 0 0 35%;
  min-width: 0;
}

.pic_name img {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border: black 5px solid;
}

@media (max-width: 1440px) {
  .main h1 {
    font-size: 50px;
  }

  .main h2 {
    font-size: 28px;
  }

  .title img {
    width: 350px;
  }

  .title_decor {
    width: 500px;
    font-size: 20px;
    line-height: 28px;
  }

  .embla {
    width: 100%;
    margin-left: 5%;
    height: 400px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 35%;
    min-width: 0;
  }

  .pic_name img {
    width: 450px;
    height: 300px;
    margin-left: 30px;
  }
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .main h1 {
    font-size: 46px;
  }

  .main h2 {
    font-size: 24px;
  }

  .title img {
    width: 300px;
  }

  .title_decor {
    width: 700px;
    font-size: 18px;
    line-height: 28px;
  }

  .embla {
    width: 78%;
    margin-left: 0%;
    height: 400px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 55%;
    min-width: 0;
  }

  .pic_name img {
    width: 550px;
    height: 350px;
    margin-left: 7px;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .main h1 {
    font-size: 36px;
  }

  .main h2 {
    font-size: 20px;
  }

  .title img {
    width: 250px;
  }

  .title_decor {
    width: 500px;
    font-size: 18px;
    line-height: 28px;
  }

  .embla {
    width: 100%;
    height: 350px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 65%;
    min-width: 0;
  }

  .pic_name img {
    width: 450px;
    height: 300px;
    margin-left: 21px;
  }
}

@media (max-width: 425px) {
  .main h1 {
    font-size: 32px;
    text-align: center;
  }

  .main h2 {
    font-size: 18px;
    text-align: center;
  }

  .title img {
    width: 200px;
  }

  .title_decor {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }

  .embla {
    width: 100%;
    height: 250px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 100%;
    min-width: 0;
  }

  .pic_name img {
    width: 290px;
    height: 225px;
    margin-left: 69px;
  }
}

@media (max-width: 375px) {
  .title_decor {
    width: 300px;
    font-size: 16px;
    line-height: 24px;
  }

  .embla {
    width: 100%;
    height: 250px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 100%;
    min-width: 0;
  }

  .pic_name img {
    width: 260px;
    height: 200px;
    margin-left: 60px;
  }
}

@media (max-width: 320px) {
  .title_decor {
    width: 260px;
    font-size: 16px;
    line-height: 24px;
  }

  .embla {
    width: 100%;
    height: 250px;
  }

  .embla__container {
    display: flex;
    width: 100vw;
  }

  .embla__slide {
    width: 100vw;
    display: flex;
    flex: 0 0 100%;
    min-width: 0;
  }

  .pic_name img {
    width: 220px;
    height: 200px;
    margin-left: 50px;
  }
}