.all img {
  height: auto;
  width: 1903px;
  margin-top: 120px;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media (max-width: 1440px) {
  .all img {
    width: 100vw;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .all img {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }
}
