.main_container {
  background-color: black;
  color: white;
  overflow: hidden;
}

.sub_container {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 210px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.unities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.unities img {
  filter: invert(1);
}

.unity_decor1 {
  border-right: #ffc219 1px solid;
}

.unity_decor1,
.unity_decor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.unity_decor1 {
  padding: 0 60px 0 0;
}

.unity_decor2 {
  padding: 0 0 0 60px;
}

.unity_decor1 h2,
.unity_decor2 h2 {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: 700;
}

.unity_decor1 h3,
.unity_decor2 h3 {
  font-size: 22px;
  letter-spacing: 4px;
  margin-top: 16px;
  font-weight: 400;
}

.unity_decor1 img,
.unity_decor2 img {
  height: 26px;
  height: 26px;
  margin-top: 16px;
}

.sub_unity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inter_unity {
  display: flex;
  margin-top: 16px;
  padding: 0 15px;
}

.sub_unity h3 {
  font-size: 20px;
}

.about_price {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
}

.container_icons {
  width: 1000px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.icons {
  width: 42px;
  height: 42px;
}

.icons:hover {
  transform: scale(1.1);
  filter: invert(27%) sepia(10%) saturate(2878%);
}

@media (max-width: 1440px) {
  .title img {
    margin-left: 40px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 550px;
    height: 300px;
  }

  .unity_decor1 {
    padding: 0 58px 0 0;
  }

  .unity_decor2 {
    padding: 0 0 0 58px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 14px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 24px;
    height: 24px;
    margin-top: 16px;
  }

  .sub_unity {
    flex-direction: column;
  }

  .about_price {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
  }

  .icons {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 1024px) {
  .unities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .sub_container {
    width: 70%;
    margin-left: 15%;
  }

  .unity_decor1 {
    border-right: none;
  }

  .title img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 768px;
    padding: 0;
    display: flex;
    border-bottom: #ffc219 1px solid;
  }

  .unity_decor1,
  .unity_decor2 {
    height: 260px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 28px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    width: 70vw;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 14px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 22px;
    height: 22px;
    margin-top: 16px;
  }

  .sub_unity {
    display: flex;
    flex-direction: row;
  }

  .sub_unity h3 {
    width: 40vw;
  }

  .about_price {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
  }

  .container_icons {
    width: 750px;
  }

  .icons {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .unities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .sub_container {
    width: 70%;
    margin-left: 15%;
  }

  .unity_decor1 {
    border-right: none;
  }

  .title img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 550px;
    padding: 0;
    display: flex;
    border-bottom: #ffc219 1px solid;
  }

  .unity_decor1,
  .unity_decor2 {
    height: 260px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    width: 70vw;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 14px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 22px;
    height: 22px;
    margin-top: 16px;
  }

  .sub_unity {
    display: flex;
    flex-direction: row;
  }

  .sub_unity h3 {
    width: 40vw;
  }

  .about_price {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
  }

  .container_icons {
    width: 750px;
  }

  .icons {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 425px) {
  .title img {
    width: 200px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 425px;
  }

  .unity_decor1,
  .unity_decor2 {
    height: 210px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    width: 80vw;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 12px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 18px;
    height: 18px;
    margin-top: 16px;
  }

  .sub_unity h3 {
    width: 40vw;
  }

  .about_price {
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
  }

  .icons {
    width: 26px;
    height: 26px;
  }

  .container_icons {
    width: 425px;
  }
}

@media (max-width: 375px) {
  .title img {
    width: 180px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 425px;
  }

  .unity_decor1,
  .unity_decor2 {
    height: 210px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    width: 80vw;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 12px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 16px;
    height: 16px;
    margin-top: 10px;
  }

  .sub_unity h3 {
    width: 40vw;
  }

  .about_price {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }

  .icons {
    width: 26px;
    height: 26px;
  }

  .container_icons {
    width: 375px;
  }
}

@media (max-width: 375px) {
  .title img {
    width: 180px;
  }

  .unity_decor1,
  .unity_decor2 {
    width: 425px;
  }

  .unity_decor1,
  .unity_decor2 {
    height: 210px;
  }

  .unity_decor1 h2,
  .unity_decor2 h2 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .unity_decor1 h3,
  .unity_decor2 h3 {
    width: 80vw;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 12px;
  }

  .unity_decor1 img,
  .unity_decor2 img {
    height: 16px;
    height: 16px;
    margin-top: 10px;
  }

  .sub_unity h3 {
    width: 44vw;
  }

  .about_price {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }

  .icons {
    width: 24px;
    height: 24px;
  }

  .container_icons {
    width: 320px;
  }
}
