.all {
  margin-top: 50px;
  background-color: rgb(236, 236, 235);
}

.sub_all {
  width: 70%;
  height: 600px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title_decor {
  font-size: 38px;
  font-weight: 450;
  font-weight: 600;
}

.embla {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.embla__container {
  display: flex;
  width: 58vw;
  margin-left: 35px;
}

.embla__slide {
  width: 100px;
  display: flex;
  flex: 0 0 40%;
  padding: 25px;
}

.pic_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic_name img {
  width: 350px;
  height: 350px;
}

.pic_name img {
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .sub_all {
    height: 550px;
  }

  .embla {
    width: 100%;
  }

  .embla__container {
    margin-right: 50px;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 40%;
    padding: 25px;
  }

  .pic_name img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .sub_all {
    height: 500px;
  }

  .embla {
    width: 110%;
  }

  .embla__container {
    margin-right: 70px;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 45%;
    padding: 25px;
  }

  .pic_name img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .title_decor {
    font-size: 32px;
  }

  .sub_all {
    height: 400px;
  }

  .embla {
    width: 98%;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 60%;
    padding: 25px;
  }

  .pic_name img {
    width: 225px;
    height: 225px;
    margin-left: 130px;
  }
}

@media (max-width: 425px) {
  .title_decor {
    font-size: 30px;
  }

  .embla {
    width: 98%;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 100%;
    padding: 25px;
  }

  .pic_name img {
    width: 200px;
    height: 200px;
    margin-left: 15px;
  }
}

@media (max-width: 375px) {
  .title_decor {
    font-size: 30px;
  }

  .embla {
    width: 80%;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 100%;
    padding: 25px;
  }

  .pic_name img {
    width: 200px;
    height: 200px;
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
  .title_decor {
    font-size: 30px;
  }

  .embla {
    width: 84%;
  }

  .embla__slide {
    width: 100px;
    display: flex;
    flex: 0 0 100%;
    padding: 20px;
  }

  .pic_name img {
    width: 180px;
    height: 180px;
    margin-left: 0px;
  }
}
