.all {
  height: 90vh;
  background-image: url(../../../public/bg-desenhoartistico.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: center;
}

.container {
  width: 700px;
  margin-left: 50%;
  margin-top: 160px;
}

.title {
  font-size: 68px;
  margin-bottom: 50px;
  font-weight: 350;
}

.context {
  width: 550px;
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 1440px) {
  .all {
    background-position: center;
    background-size: cover;
  }

  .container {
    width: 400px;
    margin-left: 30%;
    margin-top: 50px;
  }

  .title {
    width: 500px;
    text-align: center;
  }

  .context {
    width: 500px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin-left: 40%;
    margin-top: 50px;
  }

  .title {
    width: 350px;
    text-align: center;
    font-size: 48px;
  }

  .context {
    width: 350px;
    font-size: 22px;
    line-height: 35px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 50%;
    margin-top: 50px;
  }

  .title {
    width: 300px;
    text-align: center;
    font-size: 32px;
  }

  .context {
    width: 300px;
    font-size: 18px;
    line-height: 35px;
  }
}

@media (max-width: 425px) {
  .all {
    background-image: url(../../../public/bg-designkids2.png);
    height: 550px;
  }

  .container {
    margin-left: 15%;
    margin-top: 50px;
  }

  .title {
    width: 300px;
    text-align: center;
    font-size: 32px;
  }

  .context {
    width: 300px;
    font-size: 18px;
    line-height: 35px;
  }
}


@media (max-width: 375px) {
  .all {
    height: 600px;
  }

  .title {
    width: 260px;
  }

  .context {
    width: 260px;
  }
}

@media (max-width: 320px) {
  .all {
    height: 650px;
  }

  .title {
    width: 220px;
  }

  .context {
    width: 220px;
  }
}